.button-plus {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.button-plus:hover {
  background-color: #28692b;
}

.button-minus {
  background-color: #f22828;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.button-minus:hover {
  background-color: #af1d1d;
}
